---
import Invite from "@/components/invite.astro";
import Layout from "@/layout/base.astro";
---

<Layout>
  <main
    class="shadow-inner bg-white py-16 px-4 md:py-20 md:px-10 flex flex-col items-center"
  >
    <Invite />
  </main>
</Layout>
