---
import "@/main.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/image/fav.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Ariana y Fernando</title>
  </head>
  <body
    class="font-serif antialiased min-h-screen flex flex-col items-center justify-center bg-no-repeat bg-cover bg-center"
    style="background-image: url('/image/bg.jpg');"
  >
    <slot />
  </body>
</html>
